{% extends 'home/base.html' %}
{% block title %}
    {{ blogs.name }}
{% endblock %}
{% block css %}
    <style>
        img {
            max-width: 100%
        }

    </style>
{% endblock %}
{% block body %}
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=553152049286551&autoLogAppEvents=1"
            nonce="NkGhN3Dg"></script>
    <div class="container mt-3">
            <h2>{{ blogs }}</h2>
            <div class="row">

            <div class="col-lg-12 mb-4">
            <!-- Post Data -->
            <section id="post" class="post border-bottom mb-4">
                <img src="{{ blogs.thumbnail_image.url }}" alt="Feature image"
                     class="feature-img img-fluid shadow-2-strong rounded mb-4"/>
                <div class="row align-items-center mb-4">
                    <div class="col-md-6 text-center text-lg-left mb-3 m-lg-0">
                        <span>Published on <u>{{ blogs.date }}</u> by</span>
                        <a href="#" class="text-dark">Sh Furniture</a>
                    </div>

                </div>
            </section>
            <!-- Post Data -->
            <!-- Post Content -->
            <section id="content" class="border-bottom mb-4">
                <p>
                    {{ blogs.desc|safe }}
                </p>
            </section>

        <section id="content" class="border-bottom mb-4 centered">
            <p>
            <div class="fb-comments"
                 data-href="http://localhost:8000/blogs/details/{{ slug }}" data-width=""
                 data-numposts="5"></div>
            </p>
        </section>

        </div>

        </div>
    </div>
    </main>
    <!-- Main layout -->
{% endblock %}
{% block js %}
{% endblock %}
