{% extends 'dashboard/base.html' %}
{% block body %}
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Blog</h3>
            <!-- BASIC FORM ELELEMNTS -->
            <div class="row mt">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h4 class="title">ADD BLOG</h4>
                    <div id="message"></div>
                    <form enctype="multipart/form-data" class="contact-form php-mail-form" role="form"

                          method="POST">
                        {% csrf_token %}
                        {% if errors %}
                            <div class="alert alert-danger">
                                {% for name, error in errors.items %}
                                    {{ name }}: {{ error.as_text }}<br>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="contact-name"
                                   placeholder="Blog Name" data-rule="minlen:4"
                                   data-msg="Please enter at least 4 chars" value="{{ blog.name }}" required>
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="category" class="form-control" id="contact-name"
                                   placeholder="Blog Category" data-rule="minlen:4"
                                   data-msg="Please enter at least 4 chars" value="{{ blog.category }}" required>
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <h5>Please choose new images to change</h5>
                            <input type="file" accept="image/*" name="thumbnail_image" class="form-control"
                                   id="contact-name"
                                   placeholder="Blog Images" data-rule="minlen:4"
                                   data-msg="Please enter at least 4 chars" >
                            <div class="validate"></div>
                        </div>

                        <div class="form-group">
                            {{ forms.media }}{{ forms.desc }}
                            <div class="validate"></div>
                        </div>

                        <div class="form-send">
                            <button type="submit" class="btn btn-large btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /row -->

            <!-- /row -->
        </section>
        <!-- /wrapper -->
    </section>
{% endblock %}

